.mainContainer {
    max-height: 589px;
    width: 600px;
    padding-left: 40px;
}

.orderNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.cardBody {
    margin-top: 40px;
}

.cardTop {
    margin-top: 20px;
    max-height: 110px;
    overflow-y: scroll;
}

.cardTop::-webkit-scrollbar {
    width: 8px;
}

.cardTop::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 12px;
}

.cardTop::-webkit-scrollbar-track {
    background:#131316;
}

.cardIngContainer {
    max-height: 300px;
    margin-top: 20px;
    overflow-y: scroll;
}

.cardIngContainer::-webkit-scrollbar {
    width: 8px;
}

.cardIngContainer::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 12px;
}

.cardIngContainer::-webkit-scrollbar-track {
    background:#131316;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    margin-bottom: 10px;
}

.price {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.cardButtom {
    margin-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totalPrice {
    display: flex;
    align-items: center;
    gap:5px
}

.imageCircle {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 2px;
    position: relative;
    align-items: center;
    width: 75px;
    height: 75px;
}

.imageWrap {
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color:black;
    z-index: 12;
    position: absolute;
    border-radius: 50%;
}

.imageCircle:before {
    content: '';
    width: 79px;
    height: 79px;
    position: absolute;
    z-index: 11;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(128, 26, 178), rgb(76, 76, 255));
  }