.mainContainer {
    margin-top: 120px;
    width: 1280px;
    height: 600px;
    /* background-color: aqua; */
    position: relative;
}

.tabContainer {
    width: 320px;
    height: 64px;
    /* background-color: bisque; */
}

.tabsContainer {
    position: absolute;
    width: 400px;
    height: 300px;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}

.inputsContainer {
    width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column; 
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
}

.active {
    text-decoration: none;
    color: #F2F2F3;
}

.inactive {
    text-decoration: none;
    color: #8585AD;
}

.tabsContainer a :hover {
    color: #F2F2F3;
    transition: 3s;
}

.main_container {
    width: 700px;
    margin-left: 100px;
}

.orders_container {
    padding-top: 0;
    height: 600px;
    overflow-y: scroll;
    padding-right: 10px;
}

.orders_container::-webkit-scrollbar {
    width: 8px;
}

.orders_container::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 12px;
}

.orders_container::-webkit-scrollbar-track {
    background:black;
}